@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    font-size: 10px;
}

* {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
a {
    color: inherit;
}

header {
    color: white;
    /*background-image: url("../branding/aquatope-banner.png");*/
    background-color: #4361ee;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: auto;
    height: 100vh;
    width: 100%;
}

.nav-bar {
    font-size: 1vw;
    padding: 3vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
ul {
    text-underline-offset: 1vh;
    text-decoration: solid underline white 3px;
    transition: 0.2s;
}
ul:hover {
    text-underline-offset: 1.5vh;
    text-decoration: solid underline white 3px;
}



#banner-head {
    width: 30%;
    margin-bottom: 3vh;
}
#description {
    word-break: break-all;
    width: 70%;
    font-size: 18.5px;
    margin-top: 1vh;
    font-weight: lighter;
}
#slogan {
    font-size: 30px;
}
.head-banner {
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.presentation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#button {
    font-size: 3vh;
    margin-top: 3vh;
    padding: 1vh;
    padding-left: 8vh;
    padding-right: 8vh;
    border: 3px solid white;
    border-radius: 30px;
    transition: 0.2s;
}
#button:hover {
    background-color: white;
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
#roll-illu {
    width: 10%;
    opacity: 0.1;
}
.roll-first {
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: white;
    background-color: rgb(114, 136, 236);
}
.roll-second {
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: white;
    background-color: rgb(142, 158, 230);
}
.roll-third {
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: black;
    background-color: white;
}
.container-second {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}


#roll-description {
    width: 70%;
    font-size: 2vh;
    font-weight: lighter;
}
#roll-description-third {
    width: 70%;
    font-size: 2vh;
    font-weight: lighter;
}
#roll-title-third, #roll-description-third {
    padding-left: 0.5vh;
}
.roll-container {
    width: 80%;
}

#roll-title, #roll-title-third {
    font-size: 4vh;
}

.credits {
    height: 30vh;
    display: flex;
    background-color: rgb(236, 236, 236);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#pdp {
    border-radius: 100%;
    width: 30%;
    margin-bottom: 1vh;
}
.cred {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#name {
    font-size: 2rem;
} 
#download-button {
    text-underline-offset: 1vh;
    text-decoration: solid underline #4361ee 3px;
    transition: 0.2s;
    color: #4361ee;
    font-size: 3rem;
    margin-bottom: 3vh;
    padding: 2vh;
    transition: 0.2s;
}
#download-button:hover {
    text-underline-offset: 1.5vh;
    text-decoration: solid underline #4361ee 3px;
}

.button-dl {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: rgb(14, 14, 14);
}
.foot-container {
    padding-top: 3vh;
    padding-bottom: 3vh;
    color: white;
    font-weight: lighter;
    opacity: 0.08;
    font-size: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
#under {
    margin-bottom: 1rem;
}
.credits-foot {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}

